@font-face{
    font-family: 'BaiJamjureee-Regular';
    src: url("../fonts/BaiJamjuree-Regular.ttf");
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
header{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    border: 5px solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.logo{
    align-self: start;
    margin:5px;
}
/*TITULO H1*/
.titulo{
    display: flex;
    font-size: 2.3rem;
    align-self: center;
    align-content: center;
    width: 100%;
    max-width: 960px;
}
h1{
    width: 100%;
    align-content: center;
    text-align: center;
    font-family: BaiJamjureee-Regular;
    text-shadow: 2px 2px 2px grey;
}

.titulo_pagina{
    display: flex;
    align-items: center;
    align-content: center;
}
h2{
    width: 100%;
    align-content: center;
    text-align: center;
    font-size: 3rem;
    font-family: BaiJamjureee-Regular;
}

/*MENU + CONTEUDO*/
main{
    display:flex;
    height: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;

}
/*MENU*/
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px  solid #23ab6e;
    border-radius: 5px;
    width: 10%;
    min-width: 110px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.lista-menu{

}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding-inline-start: 10px;
}

li{
    margin-bottom: 10px;
}
li a {
    color:black;
    text-decoration: none;
    font-size: 1.7rem;
}
ul li a:hover{
    letter-spacing: 2px;
    color: darkgreen;
    font-weight: bolder;
    background-color: rgba(35, 171, 110, 0.70);
    padding-left: 2px;
    padding-right: 1px;
}
/*CONTEUDO*/
section{
    border: 2px solid rgba(0,0,225, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 75%;
    flex-basis: 100%;
}
article{
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    font-size: 1.8rem;
    border: 1px solid rgba(0,0,0, 0.50);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    line-height: 2.1rem;
}
h3{

}

.epigrafe{
    width: 60%;
    font-size: 1.3rem;
    font-style: italic;
    text-align: right;
    align-self: flex-end;
    margin-left: 10px;
}

.intro-index{
    text-align: center;
    box-shadow: 2px 2px 2px grey;
    font-size: 1.8rem;
    padding: 10px;
    line-height: 2.1rem;
}
.titulo_pagina{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: end;
    font-weight: bolder;
}

@media (max-width: 550px) {
    html{
        font-size: 42.5%;
    }

    main{
        flex-wrap: wrap;
    }

    nav{
        width: 50px;

    }
    ul{
        padding-inline-start: 20px;
    }

    li{
        margin-bottom: 6px;
    }
    li a{
        font-size: 2rem;
    }
    .epigrafe{
        font-size: 1.8rem;
    }
    .intro-index{
        font-size: 2.5rem;
        line-height: 3rem;
    }
}
